
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div>Category Tablo</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Üst Kategori</th>
        <th>Aktiflik Durumu</th>
        <th>Oluşturulma Zamanı</th>
        <th>Oluşturan Kişi</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Elektirik</td>
        <td>0</td>
        <td>True</td>
        <td>20.12.2023</td>
        <td>Ali</td>
        <td><button class="btn btn-warning">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
        <td>1</td>
        <td>True</td>
        <td>21.12.2023</td>
        <td>Ali</td>
        <td><button class="btn btn-warning">Güncelle</button></td>
    </tr>
</table>
